@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global Styles - added to now have the page horizontally scroll */

/* Homepage Styles */

body{
  overflow-x: hidden;
}

/* Begin Header */

/* reworked the width and positioning to sit to the right */
   header{
     background-color: #00AE7A;
     background-position: center;
     position: relative;
     float: right;
     display: flex;
     background-repeat: no-repeat;
     height: 10%;
     width: 93%;
     margin: 0;
   }


   nav{
     display: flex;
   }

   nav ul{
     list-style-type: none;
     display: flex;
     justify-content: right;
     align-items: center;
     display: flex;
     position: relative;
     left: 5%;
   }

   nav ul li{
     margin: 0% 20% 0% 20%;
     display: flex;
   }

   nav ul li a{
     text-decoration: none;
     color: #000000;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 18pt;
     display: flex;
   }


/* Begin Main Section */

.intro_panel{
  background-image: url('../img/Adam Lambert_1.jpg');
  background-position: relative;
  background-repeat: no-repeat;
  width: 93%;
  margin: 5% 0% 0% 0%;
  display: flex;
  position: relative;
  top: 55px;
  bottom: 50px;
}

  h1{
    color: #ffffff;
    font-family: 'Molle', cursive;
    font-size: 110pt;
    left: 17%;
    display: flex;
    position: relative;
    margin: 32% 0% 0% 0%;
  }

.content_panel_home{
  background-color: #2F007B;
  height: auto;
  width: 93%;
  margin: 4.5% 0% .5% 0%;
  display: flex;
  justify-content: right;
  position: relative;
  float: right;
  top: 55px;
  bottom: 60px;
}

.images_home{
  width:102.7%;
}
/*.img_2{
  width: 99.5%;
  margin: 10% 0% 0% 0%;
}

.img_2 {
  filter: none; -webkit-filter: grayscale(0); } .img_2:hover { filter: grayscale(100%); -webkit-filter: grayscale(100%);
}*/
/* Responsive Video Player */
.videocontainer {
  position: relative;
  overflow: hidden;

  width: 102.7%;
  margin: 9% 0% 0% 0%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.img_3{
  width: 68.3%;
  margin:.5% .55% 10% 0%;
}

.img_4{
  width: 30.8%;
  margin:.55% 0% 10.25% 0%;
}

p.watch_velvet_video{
  margin: 1%;
  font-weight: 300;
}




/* About Page Styles */


body{
  overflow-x: hidden;
}

/* Begin Main Section */

/* Change the postion of contact in the h1 with left: */

  h2{
    color: #ffffff;
    font-family: 'Molle', cursive;
    font-size: 110pt;
    left: 19%;
    display: flex;
    position: relative;
    margin: 14% 0% 0% 0%;
  }

.content_panel_about{
  background-color: #2F007B;
  width: 93%;
  margin: 1.1% 0% 0% 0%;
  display: flex;
  justify-content: right;
  position: relative;
  float: left;
  top: 48px;
  bottom: 50px;
}

.content_panel_about h2{
  margin: 5% 0% 0% 0%;
  position: relative;
  left: 7%;
}

.about_text{
  text-decoration: none;
  left: 5%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  margin: 1% 7% 0% 7.5%;
}

.img_5{
    margin:5% 0% 8% 5.5%;
    float: right;
    width: 92.35%;
}


/* Contact Page Styles */


/* Global Styles - added to now have the page horizontally scroll */

body{
  overflow-x: hidden;
  width: 100vw;
}

/* Begin Main Section */



.content_panel_contact{
  background-color: #2F007B;
  width: 93%;
  margin: 1.1% 0% 0% 0%;
  display: flex;
  justify-content: right;
  position: relative;
  float: left;
  top: 48px;
}

form input{
  height: 61px;
  width: 225%;
  margin: 0% 0% 2% 5%;
  font-size: 24px;
  position: relative;
  left: 15%;
  border: 4px #000000;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18pt;
}

textarea{
  position: relative;
  left: 15%;
  height: 250px;
  width: 225%;
  margin: 0% 0% 2% 5%;
  font-size: 24px;
  border: 4px #000000;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18pt;
}

input::placeholder{
  position: relative;
  top: 2px;
  left: 20px;
  height: 69px;
  width: 1108px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

textarea::placeholder{
  position: relative;
  top: 20px;
  left: 20px;
  height: 69px;
  width: 1108px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}



input.submitbutton{
  width: 40%;
  color: #fff;
  background-color: #00AE7A;
  border: none;
  font-size: 20px;
  margin: 3% 0% 19% 5%;
}

/* Submit Button Hover state */
input.submitbutton:hover{
  color: #000;
}

/* Same thing here....target the form in the .content_panel, give it a position and left size and push it from the sides */
.content_panel form{
  position: relative;
  left: 40%;
  position: relative;
}

/* Style the form inputs */
.content_panel input{
  width: 170%;
  height: 45px;
}

.content_panel textarea{
  width: 90%;
  height: 150px;
}

/* Tour Page Styles */

.content_panel_tour h2{
  margin: 16% 0% 0% 0%;
  position: relative;
  left: 20%;
}

h3{
  color: #00AE7A;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 30pt;
  left: 21%;
  margin: 0% 0% 0% 0%;
  display: flex;
  position: relative;
}

hr{
  weight:20pt;
  height: 20px;
  width: 254%;
  margin: 2% 0% 4% 0%;
  position: relative;
  left: 22%;
}

.venue{
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex column;
  left: 22%;
  justify-content: left;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20pt;
}

.city{
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: left;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13pt;
}

.date{
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  left: 240%;
  justify-content: right;
  align-items: right;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20pt;
  position: relative;
  top: -45px;
}

.date_june{
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  left: 238.25%;
  margin-bottom: 15%;
  justify-content: right;
  align-items: right;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20pt;
  position: relative;
  top: -45px;

}
.content_panel_tour{
  background-color: #2F007B;
  width: 93%;
  margin: 1.1% 0% 0% 0%;
  display: flex;
  justify-content: right;
  position: relative;
  float: left;
  top: 48px;
  bottom: 50px;
}


/* Stream Page Styles */

.content_panel_stream{
  background-color: #2F007B;
  width: 93%;
  margin: 1.1% 0% 0% 0%;
  display: flex;
  justify-content: right;
  position: relative;
  float: left;
  top: 48px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#stream_header h2 {
  position: relative;
  left: -71%;
}

iframe{
  position: relative;
  margin-top: 2%;
  margin-bottom: 8%;
  left: 3.75%;
  float: right;
}

/* Off Canvas Navigation */

.hamburger{
  font-size:30px;
  cursor:pointer;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #00AE7A;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

@ screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

   /* Begin Footer */

   /* Added in flex-direction: column to stack the items in your footer with positioning to have the spacing on the above the footer.  */
      footer{
        background-color: #00AE7A;
        background-size: cover;
        background-position: center;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 117px;
        width: 100vw;
        margin: 5% 0% 0% 0%;
      }

      .socialicons{
       margin: 2% 0% 0% 0%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: row;
     }


     #instagram:hover .fa-instagram::before,
     #twitter:hover .fa-twitter::before,
     #facebook:hover .fa-facebook::before{
       color: #fff;
     }

     p{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: 20pt;
        margin-bottom: 2%;
      }

   /* Pseudo Classes */

      nav ul li a:hover{
        color: #ffffff;
      }

      .socialicons:hover{
        color: #ffffff;
      }

  /* Media Queries */

  @media screen and (max-width: 768px){

    header{
      height: 5%;
      margin: 0 auto;
    }

       nav{
         display: flex;
       }

       nav ul{
         list-style-type: none;
         display: flex;
         justify-content: right;
         align-items: center;
         display: flex;
         position: relative;
         left: 5%;
       }

       nav ul li{
         margin: 0% 10% 0% 10%;
         display: flex;
       }

       nav ul li a{
         text-decoration: none;
         color: #000000;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 14pt;
         display: flex;
       }

       .intro_panel{
         background-image: url('../img/Adam Lambert_1.jpg');
         background-position: relative;
         background-repeat: no-repeat;
         width: 93%;
         height:auto;
         margin: 0% 0% 0% 0%;
         display: flex;
         position: relative;
       }

       h1{
         color: #ffffff;
         font-family: 'Molle', cursive;
         font-size: 50pt;
         left: 36%;
         display: flex;
         position: relative;
         margin: 32% 0% 0% 0%;
       }

       /* Responsive Video Player */
       .videocontainer {
         position: relative;
         overflow: hidden;

         width: 92.25%;
         margin: 6% 0% 0% 0%;
         padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
       }

       /* Then style the iframe to fit in the container div with full height and width */
       .responsive-iframe {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
       }

       .img_3{
         width: 62.65%;
         margin:0% .55% 8% 0%;
       }

       .img_4{
         width: 28.5%;
         margin:0% 0% 8% 0%;
       }

       .images_home{
         width:100%;
       }

       h2{
         color: #ffffff;
         font-family: 'Molle', cursive;
         font-size: 50pt;
         left: 8%;
         display: flex;
         position: relative;
         margin: 40px 0px 0px 0px;
       }

       .content_panel_about{
         background-color: #2F007B;
         width: 93%;
         margin: 1.1% 0% 0% 0%;
         display: flex;
         justify-content: right;
         position: relative;
         float: left;
         top: 48px;
         bottom: 50px;
       }


       .about_text{
         text-decoration: none;
         left: 5.5%;
         color: #ffffff;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 14pt;
         margin: 1% 7% 0% 8%;
       }

       .img_5{
           margin:5% 0% 8% 5.5%;
           float: right;
           width: 92%;
       }

      .content_panel_contact h2{
        margin: 14% 0% 8% 12%;
      }
       .content_panel_contact{
       background-color: #2F007B;
       width: 93%;
       margin: 1.1% 0% 0% 0%;
       display: flex;
       justify-content: right;
       position: relative;
       float: left;
       top: 48px;
       }

       form input{
       height: 61px;
       width: 235%;
       margin: 0% 0% 0% 16.5%;
       font-size: 24px;
       position: relative;
       left: 5%;
       border: 4px #000000;
       text-decoration: none;
       color: #000000;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-size: 18pt;
       }

       textarea{
       position: relative;
       left: 90px;
       height: 250px;
       width: 235%;
       left: 5%;
       margin: 0% 0% 2% 16.5%;
       font-size: 24px;
       border: 4px #000000;
       text-decoration: none;
       color: #000000;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-style: italic;
       font-size: 18pt;
       }

       input::placeholder{
       position: relative;
       top: 2px;
       left: 20px;
       height: 69px;
       width: 1108px;
       font-size: 24px;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-style: italic;
       }

       textarea::placeholder{
       position: relative;
       top: 20px;
       left: 20px;
       height: 69px;
       width: 1108px;
       font-size: 24px;
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       font-style: italic;
       }

       input.submitbutton{
         width: 45%;
         color: #fff;
         background-color: #00AE7A;
         border: none;
         font-size: 20px;
         margin: 3% 0% 23% 16.5%;
       }


       /* Tour Dates */

       .content_panel_tour h2{
         margin: 13% 0% 0% 0%;
         position: relative;
         left: 16.5%;
       }

       .content_panel_tour h3{
         color: #00AE7A;
         font-family: 'Roboto',sans-serif;
         font-weight: 300;
         font-size: 20pt;
         left: 16.5%;
         margin: 0% 0% 0% 0%;
         display: flex;
         position: relative;
       }

       hr{
         weight:20pt;
         height: 20px;
         width: 197%;
         margin: 2% 0% 4% 0%;
         position: relative;
         left: 16.5%;
       }

       .venue{
         list-style-type: none;
         text-decoration: none;
         position: relative;
         display: flex column;
         left: 16.5%;
         justify-content: left;
         color: #ffffff;
         font-family: 'Roboto', sans-serif;
         font-weight: 400;
         font-size: 18pt;
       }

       .city{
         list-style-type: none;
         text-decoration: none;
         position: relative;
         display: flex;
         justify-content: left;
         color: #ffffff;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 13pt;
       }

       .date{
         list-style-type: none;
         text-decoration: none;
         position: relative;
         display: flex;
         left: 169.5%;
         justify-content: right;
         align-items: right;
         color: #ffffff;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 18pt;
         position: relative;
         top: -45px;
       }

       .date_june{
         list-style-type: none;
         text-decoration: none;
         position: relative;
         display: flex;
         left: 167.5%;
         margin-bottom: 15%;
         justify-content: right;
         align-items: right;
         color: #ffffff;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 18pt;
         position: relative;
         top: -45px;

       }



       /* Stream Page */

       #stream_header h2 {
         position: relative;
         left: -85%;
         margin: 15% 0% 0% 0%;
       }
       iframe{
         width: 660px;
         height: 500px;
         margin: 2% 0% 8% 0%;
       }



  @media screen and (max-width: 320px){

    h1{
      color: #000000;
      background-color: #00AE7A;
      font-family: 'Molle', cursive;
      font-size: 18pt;
      left: 17%;
      display: flex;
      position: relative;
      margin: 32% 20% 20% 0%;
    }

       nav{
         display: flex;
       }

       nav ul{
         list-style-type: none;
         display: flex;
         justify-content: right;
         align-items: center;
         display: flex;
         position: relative;
         left: 5%;
       }

       nav ul li{
         margin: 0% 10% 0% 10%;
         display: flex;
       }

       nav ul li a{
         text-decoration: none;
         color: #000000;
         font-family: 'Roboto', sans-serif;
         font-weight: 300;
         font-size: 14pt;
         display: flex;
       }

       .intro_panel{
         background-image: url('../img/Adam Lambert_1.jpg');
         background-position: relative;
         background-repeat: no-repeat;
         width: 93%;
         margin: 0% 0% 0% 0%;
         display: flex;
         position: relative;
       }


    header{
      display: inline;
      height: 40px;
      margin: 0 auto;
      position: relative;
      left: 10px;
  }
    nav{
      display: none;
    }

    .hamburger {
      font-size: 30px;
      cursor: pointer;
      display: inline;
      position: relative;
      left: 88%;
      margin: 0%;
      color: #ffffff;
      background-color: #00000;
  }

  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE  Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@ only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@ print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@ print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
